# .circleci/config.yml
version: 2.1
orbs:
  macos: circleci/macos@2
jobs:
  build-and-test:
    macos:
      xcode: 12.5.1
    working_directory: /Users/distiller/project
    environment:
      FL_OUTPUT_DIR: output
      FASTLANE_LANE: test
    steps:
      - macos/switch-ruby:
          version: "2.6"
      - checkout
      - run: bundle install
      - run:
          name: Fastlane
          command: bundle exec fastlane $FASTLANE_LANE
      - store_artifacts:
          path: output
      - store_test_results:
          path: output/scan

workflows:
  build-and-test:
    jobs:
      - build-and-test
      
